//Bootstrap imports
@import "../bower_components/bootstrap-sass-twbs/assets/stylesheets/bootstrap";

//Modules
@import "modules/all";

//Partials
@import "partials/base";

//Page Templates

//Plugins
@import "../bower_components/slick.js/slick/slick";


//General Styles
body{
	font-family: $arial;
	color: #00264D;
}
.fr{float: right;}
.fl{float: left;}
.clear { clear:both; }
.container{max-width:940px;}