footer{
	height: 205px;
	background-color: #00264C;
	width:100%;
	padding-top: 32px;
	padding-bottom: 35px;
	color: #fff;
	h2{
		font-size: 22px;
		font-family: $arial;
		color:#fff;
	}
	ul{
		columns: 2;
  		-webkit-columns: 2;
  		-moz-columns: 2;
  		width: 360px;
	}
	li{
		list-style-type: none;
		a{
			color:#fff;
			line-height: 2.0em;
			&:hover{
				text-decoration: none;
				color: #fff;
			}
		}
	}
	.links{
		padding-top: 15px;
	}
}